/* Container for the entire page */
.survey-container {
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #E0E0E0;
}

/* Form styling for displaying survey information */
.survey-form {
    width: 40%; /* Adjust width as needed for display */
    padding: 2rem;
    background: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-bottom: 20px; /* Space between forms when stacked */
}

/* Button styling specifically for editing and deleting */
.edit-button,
.delete-button,
.load-button { /* Added class for load button */
    width: 80px; /* Smaller fixed width */
    padding: 8px 12px; /* Adjust padding */
    margin-right: 10px; /* Space between buttons */
    color: white;
    font-size: 14px; /* Smaller font size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}

.edit-button {
    background-color: #4CAF50; /* Green */
}

.delete-button {
    background-color: #F44336; /* Red */
}

.load-button {
    background-color: #2196F3; /* Blue */
}

.edit-button:hover,
.delete-button:hover,
.load-button:hover {
    opacity: 0.85; /* Slight opacity change on hover */
}

/* Additional styles for loading and error messages */
.loading-text,
.error-text {
    color: #333;
    font-size: 1rem;
    text-align: center;
}

/* Style for action buttons at the bottom */
.action-buttons {
    display: flex;
    justify-content: center;
}

.action-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #2196F3; /* Blue */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #1976D2;
}

.modal {
    display: none; /* Dold som standard */
    position: fixed;
    z-index: 1; /* Sitta ovanpå allt */
    left: 0;
    top: 0;
    width: 100%; /* Full bredd */
    height: 100%; /* Full höjd */
    overflow: auto; /* Aktivera skroll om det behövs */
    background-color: rgb(0,0,0); /* Fallback färg */
    background-color: rgba(0,0,0,0.4); /* Svart med opacitet */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% från toppen och centrerad */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Kunde vara mer eller mindre, beroende på skärm */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
