.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #6200EA; /* Justera beroende på din designpreferens */
}

.login-form {
    height: 39vh;
    width: 20%; /* Styr bredden på inloggningsformuläret */
    padding: 2rem;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px; /* Ge mer utrymme mellan inmatningsfälten */
    display: flex;
    align-items: center;
}

.form-group img {
    margin-right: 10px; /* Lägg till lite marginal mellan ikonen och inmatningsfältet */
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

input[type="email"],
input[type="password"],
input[type="firstname"],
input[type="lastName"] {
    width: 100%;
    padding: 10px 10px 10px 0; /* Ta bort padding till höger för att texten inte ska flyta ut */
    border: none; /* Ta bort alla kantlinjer */
    border-bottom: 1px solid #ccc; /* Lägg till en enkel linje i botten */
    background: transparent; /* Gör bakgrunden transparent */
    outline: none; /* Ta bort markeringen när fältet är fokuserat */
}

/* Fokus-stil för input */
input[type="email"]:focus,
input[type="password"]:focus,
input[type="firstName"]:focus,
input[type="lastName"]:focus {
    border-bottom: 2px solid #6200EA; /* Ändra till en tjockare eller färgad linje vid fokus */
}


button {
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Lägg till marginal ovanför knappen */
    background-color: #6200EA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5a00d2;
}

.right-section {
    height: 46.1vh;
    width: 25%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px; /* Lägg till marginal ovanför felmeddelandet */
}

.iconLogin {
    width: 20px; /* Justera storleken efter behov */
    height: 20px; /* Justera höjden efter behov */
    filter: invert(35%) sepia(95%) saturate(2412%) hue-rotate(217deg) brightness(99%) contrast(92%);
}

.signup-link {
    text-align: center;
    margin-top: 20px; /* Justera efter behov */
    font-size: 0.9rem;
}

.signup-link span {
    color: #6200EA; /* Samma färg som knappen för att hålla designen enhetlig */
    cursor: pointer; /* Visar att det är klickbart */
}
