.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #6200EA;
}

.login-form {
    height: auto;
    width: 20%;
    padding: 2rem;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group img {
    margin-right: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-bottom: 2px solid #6200EA;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #6200EA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5a00d2;
}

.right-section {
    height: 46.1vh;
    width: 25%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

.iconLogin {
    width: 20px;
    height: 20px;
    filter: invert(35%) sepia(95%) saturate(2412%) hue-rotate(217deg) brightness(99%) contrast(92%);
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.signup-link span {
    color: #6200EA;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    width: 30%;
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    outline: none;
}
