/* LoginScreen.css */

:root {
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --background-color: #f0f2f5;
    --text-color: #282c34;
    --light-color: white;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 4px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-color);
}

.login-content {
    display: flex;
    align-items: stretch; /* Ensure both sections stretch equally */
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    background-color: var(--light-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden; /* Ensure the content doesn't overflow */
}

.login-form {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group img {
    margin-right: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-bottom: 2px solid var(--primary-color);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

.right-section {
    flex: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
}

.iconLogin {
    width: 20px;
    height: 20px;
    filter: invert(35%) sepia(95%) saturate(2412%) hue-rotate(217deg) brightness(99%) contrast(92%);
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.signup-link span {
    color: var(--primary-color);
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    width: 30%;
    max-width: 400px;
    margin: auto;
    background: var(--light-color);
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    outline: none;
}
