/* surveyPage.css */

:root {
    --primary-color: #6200EA;
    --secondary-color: #4CAF50;
    --danger-color: #f44336;
    --text-color: #fff;
    --background-color: #f3f3f3;
    --button-hover-color: #45a049;
    --button-danger-hover-color: #d32f2f;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.survey-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--primary-color);
    padding: 20px;
}

.survey-title {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

.question-container {
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.question-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.options-list,
.scale-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.option-item,
.scale-item {
    margin-right: 10px;
}

input[type="radio"].hidden-radio {
    display: none; /* Dölj radio-knapparna */
}

input[type="radio"]:checked + label {
    background-color: green;
    color: white;
    border-color: green;
}

.label-selected {
    background-color: green;
    color: white;
    border-color: green;
}

.text-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background: white;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: border-color 0.3s ease-in-out;
    font-size: 1rem;
}

.text-input:focus {
    border-color: #4b0082;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    display: inline-block;
    margin-top: 20px;
}

.button:hover {
    background-color: var(--button-hover-color);
}

.finish-button {
    background-color: var(--danger-color);
}

.finish-button:hover {
    background-color: var(--button-danger-hover-color);
}

.finish-button:active {
    transform: scale(0.95);
}

.scale-button, .option-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    width: 50px;
    text-align: center;
}

.scale-button:hover, .option-button:hover {
    background-color: #4b0082;
    color: white;
    transform: scale(1.05);
}

.option-button.selected, .scale-button.selected {
    background-color: green;
    color: white;
    border-color: green;
}
